* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$primary-color: #fbbb43;
$bg-color: #141111;


ol, ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}


body {
  background: $bg-color;
  color: white;
}

img, image {
  float: left;
  width: 100%;
  height: auto;
}

//hr {
//  border: 0;
//  height: 1px;
//  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//}

.container {
  max-width: 1200px;
  margin: auto;
}


/*scrollUp*/

#scrollTop {
  position: fixed;
  bottom: 25px;
  right: 35px;
  background: rgba(82, 82, 82, 0.64);
  text-align: center;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  z-index: 99;
  width: 5vh;
  height: 5vh;
  padding-top: 2.4vh;

}

#scrollTop:hover {
  box-shadow: 0 5px 18px #26272b;
  outline: 0;
  opacity: .9;
  padding-top: 0;
  transition: 1s;
}

#scrollTop:before {
  content: "\f077";
  font-family: FontAwesome, serif;
}

/*header*/

.logo {
  text-align: left;

  img {
    width: 40px;
    height: 40px;
  }
}

nav {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;

  ul {
    list-style: none;
    margin: 0;
    padding: .2em 2em;
    float: right;

    li {
      display: inline-block;
      margin: 0;
      padding: .2em .7em;
    }
  }


  a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 1.15em;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: .25s ease-in-out;
  }
}

a:hover {
  color: $primary-color;
}


.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(50, 50, 50);
  transition: .45s ease-in-out;
}

.bg-hidden {
  top: -100%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}


.container_slider_css {

  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
  display: inline-block;

  a {

    background: #222;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 93vh;
    bottom: 10px;
    font-size: 18px;
    padding: 3px 5px;

  }
}


.photo_slider_css {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;

}


@keyframes round {
  25% {
    opacity: 1
  }
  40% {
    opacity: 0
  }
}

.s1 img {
  animation-delay: 12s;
}

.s2 img {
  animation-delay: 8s;
}

.s3 img {
  animation-delay: 4s;
}

.s4 img {
  animation-delay: 0s;
}

@media(min-width: 0px) and (max-width: 320px) {
  .container_slider_css {

    height: 190px;
  }
}

@media(min-width: 321px) and (max-width: 480px) {
  .container_slider_css {

    height: 190px;
  }
}

@media(min-width: 481px) and (max-width: 888px) {
  .container_slider_css {

    height: 300px;
  }
}

@media(min-width: 889px) and (max-width: 1064px) {
  .container_slider_css {

    height: 500px;
  }
}

@media(min-width: 1065px) and (max-width: 1148px) {
  .container_slider_css {

    height: 600px;
  }
}


/*main*/


.blocks {
  padding-top: 2vh;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.block {
  background-color: $bg-color;
  border: 1px solid $primary-color;
  max-width: 200px;
  padding: 15px;
  margin: 2vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  img {
    max-width: 170px;
    max-height: 170px;
    margin: auto;
  }

  p {
    text-align: center;
  }
}


.block:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.input {
  display: none;
}

.filter-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.filter-label {
  font-family: "TT Milks", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: .04em;
  text-transform: uppercase;
  padding: 7px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 7px;
}

.filter-label:last-child {
  margin-right: 0;
}

.filter-label:hover {
  color: $primary-color;
  transition: 0.8s;
}

[value="all"]:checked ~ .products [data-category] {
  display: block;
}

[value="pred"]:checked ~ .products .product-wrap:not([data-category~="pred"]),
[value='new']:checked ~ .products .product-wrap:not([data-category~="new"]),
[value='lider']:checked ~ .products .product-wrap:not([data-category~="lider"]) {
  display: none;
}

[value='pred']:checked ~ .filter-buttons [for="pred"],
[value='all']:checked ~ .filter-buttons [for="all"],
[value='lider']:checked ~ .filter-buttons [for="lider"],
[value='new']:checked ~ .filter-buttons [for="new"] {
  color: white;
  background-color: #5a4420;
  border: solid 1px $primary-color;
}


/*Товар*/

.products {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.product-wrap {
  font-size: 14px;
  border: silver solid 1px;
  width: 300px;
  background: $bg-color;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 2vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  img {
    display: block;
    width: 100%;
  }
}

.product-wrap:hover {
  border: solid 1px $primary-color;
}

.product-item {
  position: relative;
  overflow: hidden;

}


.product-buttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: .3s ease-in-out;
}

.button {
  text-decoration: none;
  color: $primary-color;;
  font-size: 12px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid $primary-color;;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
}

.button:before {
  content: "\f217";
  font-family: FontAwesome, serif;
  margin-right: 10px;
}

.product-item:hover .product-buttons {
  opacity: 1;
}

.product-item:hover .button {
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  background: black;
}

.product-title {
  color: #5e5e5e;
}

.product-title a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 15px 0 5px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  transition: .3s ease-in-out;
}

.product-title a:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #2e2e2e;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  transition: .3s ease-in-out;
}

.product-title a:hover {
  color: $primary-color;
}

.product-title:hover a:after {
  background: $primary-color;
}

.product-price {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

/*Footer*/
footer {
  margin-top: 8vh;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;

  hr {
    border: 0;
    border-top-color: currentcolor;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    opacity: 0.5
  }

  .small {
    margin: 20px 0
  }

  h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
  }

  a {
    color: #737373;
  }

  .social-icons {
    text-align: right;

    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #33353d
    }

  }
}

footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;

  li {
    display: block
  }

  a {
    color: #737373
  }
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}


.copyright-text {
  margin: 0
}

@media (max-width: 991px) {
  footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width: 767px) {
  footer {
    padding-bottom: 0
  }

  footer .copyright-text, footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-bottom: 4px;

    .title {
      margin-right: 15px;
      text-transform: uppercase;
      color: #96a2b2;
      font-weight: 700;
      font-size: 13px
    }
  }

  a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }

  .size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }
}


.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}


.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
